.navbar-light .navbar-toggler {
    color: white !important;
    border: none !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.fa-check-circle {
    font-size: 20px;
    color: #8000FF;
}

.nest_list>li {
    margin-top: 5px;
}

.serv_list {
    list-style: none;
}

.serv_list>li {
    margin-bottom: 15px;
}

.se-t {
    color: rgb(59, 59, 59);
    font-weight: 600;
    font-size: 1rem;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    background: transparent !important;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 700;
    color: #fff !important;
}

.overlay {
    color: black !important;
}

.navbar {
    margin-top: 10px;
}

.nav-link {
    font-weight: 400;
    margin: 10px;
    color: white !important;
    cursor: pointer;
}

body {
    background: #8000FF url('../assets/bg.jpg');
    background-size: cover;
    color: white;
}

.overlay {
    z-index: 2;
    overflow: auto;
    position: fixed;
    height: 100vh;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transform: translate(10%) scale(0.9);
    left: 0;
    /* display: grid; */
    width: 100%;
    /* grid-template-columns: 90% auto; */
    background-color: white;
}


/* CARDS */

.btn {
    background-color: #8000FF;
    border: none;
    outline: none;
    color: white;
    font-weight: 600;
}

.btn:hover,
.btn:focus,
.btn:active {
    background-color: #8000FF;
    border: none !important;
    box-shadow: none;
    outline: none !important;
    color: white;
    font-weight: 600;
}

.services {
    margin-top: 5%;
    margin-left: 15%;
}

.card {
    padding: 30px;
    border: none;
    background-color: transparent;
}

.card_con {
    border: none;
    margin: 0 !important;
    box-shadow: 0px 0px 53px rgba(128, 0, 255, 0.200);
    border-radius: .5rem;
    padding: 15px;
}

.card-img-top {
    border-radius: 10px;
}

.head {
    font-weight: 700;
}

.card-title {
    font-weight: 800;
}


/* CARDS */

.cls_con {
    margin: 20px 0px 0px 20px;
    cursor: pointer;
}

.cls_con>i {
    font-size: 4rem;
    color: white;
    text-shadow: 0px 0px 30px #8000FF;
}

.stagger {
    transform: translate(15%);
    opacity: 0;
}

.big_text {
    margin-top: 20%;
    padding-left: 10%;
    position: absolute;
    text-align: left;
    /* margin-right: auto;
    margin-left: auto; */
    font-size: 5rem;
    font-weight: 600;
    color: white !important;
    word-wrap: break-word;
}

a,
a:hover {
    text-decoration: none;
}

.head1 {
    font-size: 5rem;
    font-weight: 600;
    color: #8000FF;
}

.head2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.head3 {
    font-size: 2rem;
    font-weight: 600;
}

.dots {
    color: #8000FF;
    font-size: 4rem;
    font-weight: 600;
}

.bars {
    display: none;
}

.owl-item {
    padding: 30px;
}

@media (max-width: 700px) {

    .card {
        padding: 5px !important;
    }
    
    .card_con {
        padding: 10px !important;
    }

    .dots_img {
        width: 20% !important;
    }

    .head4 {
        font-size: 2.5rem !important;
    }

    .serv_list {
        padding: 0;
        margin: 0;
    }

    .bars {
        display: block;
    }

    .big_text {
        text-align: left;
        margin-top: 70%;
        font-size: 2.5rem;
        padding-left: 5% !important;    
    }

    .navbar {
        width: 100%;
        text-align: left !important;
    }

    .nav-link {
        margin: 0 !important;
    }

    .head1 {
        font-size: 2.5rem;
    }

    .head2 {
        font-size: 1rem;
    }

    .services {
        padding: 30px;
        margin: 0 !important;
    }

    .card {
        margin-bottom: 10%;
    }

    body {
        background: url('../assets/bg_mob2.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .con_cards {
        padding: 30px;
        margin-top: 30px !important;
    }

    .head3{
        font-size: 1.3rem;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.itemHeads{
    cursor: pointer;
}